@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  background-image: url("/public/assets/mobile/bg-image-nighttime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;

  /* Darken background photo */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/assets/mobile/bg-image-nighttime.jpg");
}
